.v-bg-ci_grey {
    background-color: #dadad7;
}

.v-bg-ci_cyan {
    background-color: #419fd8;
}

.v-bg-ci_cyan_20 {
    background-color: #d9ecf7;
}

.v-bg-ci_cyan_50 {
    background-color: #a0cfeb;
}

.v-bg-ci_cyan_80 {
    background-color: #67b2e0;
}

.v-bg-ci_cyan_50-light {
    background-color: #d9ecf7;
}

.v-bg-ci_cyan_80-light {
    background-color: #d9ecf7;
}

.v-bg-ci_green {
    background-color: #48a897;
}

.v-bg-ci_green_20 {
    background-color: #daeeea;
}

.v-bg-ci_green_50 {
    background-color: #a3d3cb;
}

.v-bg-ci_green_80 {
    background-color: #6db9ac;
}

.v-bg-ci_green_50-light {
    background-color: #daeeea;
}

.v-bg-ci_green_80-light {
    background-color: #daeeea;
}

.v-bg-ci_yellow {
    background-color: #fad657;
}

.v-bg-ci_yellow_20 {
    background-color: #fef7dd;
}

.v-bg-ci_yellow_50 {
    background-color: #fdeaab;
}

.v-bg-ci_yellow_50-light {
    background-color: #fef7dd;
}

.v-bg-ci_yellow_80-light {
    background-color: #fef7dd;
}

.v-bg-ci_yellow_80 {
    background-color: #fdeaab;
}

.v-bg-ci_primary {
    background-color: #5c2874;
}

.v-bg-ci_primary_20 {
    background-color: rgb(92 40 116 / 20%);
}

.v-bg-ci_primary_50 {
    background-color: rgb(92 40 116 / 50%);
}

.v-bg-ci_primary_80 {
    background-color: rgb(92 40 116 / 80%);
}

.v-bg-ci_magenta {
    background-color: #e1007b;
}

.v-bg-ci_magenta_20 {
    background-color: #f7d6e5;
}

.v-bg-ci_magenta_50 {
    background-color: #ec99be;
}

.v-bg-ci_magenta_80 {
    background-color: #e15d97;
}
.v-bg-ci_magenta_50-light {
    background-color: #f7d6e5;
}

.v-bg-ci_magenta_80-light {
    background-color: #f7d6e5;
}
